@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Confirmar Transacción";
}

<div class="breadcrumbs-container">
    <div class="breadcrumbs-items">
        <a href="/">Inicio</a>
        <img src="~/t-arrow.svg" alt="t-arrow" width="24" height="24" />
    </div>
    <div class="breadcrumbs-items">
        <a href="/transaccion-completa-diferida/index">Webpay Transacción Completa Diferida</a>
        <img src="~/t-arrow.svg" alt="t-arrow" width="24" height="24" />
    </div>
    <div class="breadcrumbs-items">
        <span class="current-breadcrumb">Confirmar</span>
    </div>
</div>

<h1>Transacción Completa Diferida - Confirmar transacción</h1>
<p class="mb-32">
    En este paso crucial, procederemos a confirmar la transacción con el objetivo de notificar a Transbank que hemos recibido la transacción de manera exitosa. Es fundamental destacar que si no se confirma la transacción, esta será caducada.
</p>

<h2 id="request">Paso 1: Petición</h2>
<p class="mb-32">
    Para confirmar la transacción, debes enviar el token correspondiente. En el caso de pagos a plazos, también debes incluir el ID de la consulta de cuotas. En algunos casos, será necesario proporcionar el índice del periodo diferido y un valor boolean indicando si se tomará el periodo de gracia.
</p>

<pre>
    <code class="language-csharp mb-32">
const tx = new FullTransaction(
  new Options(
    IntegrationCommerceCodes.TRANSACCION_COMPLETA_DEFERRED,
    IntegrationApiKeys.WEBPAY,
    Environment.Integration
  )
);
const response = await tx.commit(token, idQueryInstallments, deferredPeriodIndex, gracePeriod);
    </code>
</pre>

<h2 id="response">Paso 2: Respuesta</h2>
<p class="mb-32">
    Una vez que la transacción ha sido confirmada Transbank proporcionará la siguiente información. Es fundamental conservar esta respuesta y verificar que el campo "response_code" tenga un valor de cero y que el campo "status" sea "AUTHORIZED".
</p>

<pre><code class="language-json mb-32">@Html.Raw(ViewBag.response)</code></pre>

<h2 id="form">¡Transacción confirmada!</h2>
<p class="mb-16">Ahora que se ha confirmado la transacción, puedes capturar el monto previamente autorizado. El monto a capturar puede ser igual o menor al monto autorizado. La captura debe efectuarse dentro de un plazo máximo de 7 días calendario.</p>

<ul class="bullet-list">
    <li><span class="fw-700">Capturar:</span>  Captura un monto igual o menor al previamente autorizado.</li>
    <li><span class="fw-700">Consultar Estado:</span> Hasta 7 días después de realizada la transacción, podrás
        consultar el estado de la transacción.</li>
</ul>

<form asp-controller="TransaccionCompletaDiferida" asp-action="Capture" method="GET">
    <div class="tbk-card">
        <div class="input-container mb-32">
            <label for="amount" class="tbk-label">Monto a capturar</label>
            <input type="text" id="amount" name="amount" class="tbk-input-text" value="@ViewBag.Amount">
            <input type="hidden" name="token" value="@ViewBag.Token">

            <input type="hidden" name="buy_order" value="@ViewBag.BuyOrder">
            <input type="hidden" name="authorization_code" value="@ViewBag.AuthorizationCode">
        </div>

        <div class="tbk-card-footer">
            <button type="submit" class="tbk-button primary">CAPTURAR</button>
        </div>
    </div>
</form>

<div class="mt-32 mb-32">
    <a asp-controller="TransaccionCompletaDiferida" 
       asp-action="Status" 
       asp-route-token="@ViewBag.Token" 
       class="tbk-button primary">
        CONSULTAR ESTADO
    </a>
</div>
